<p>Use the Attachments related view to review and associate files to the selected service request.</p>
<p>{{ site.data.alerts.note }}Attachments require <a href="/server/plugins/file_storage.html">File Storage plugin</a> setup.{{ site.data.alerts.end }}</p>
<p><b>Add Attachment</b></p>
<p>Use this action to create a new attachment for the selected work order.</p>
<ol>
    <li>Select the New Record icon (plus symbol) on the action bar. {{ site.data.ds.product-name }} opens the Attachments dialog.</li>
    <li>Set a Description value. The description should be short but informative.</li>
    <li>Set the Document Folder value.</li>
    <li>Add a file in one of the following ways:
        <ul>
            <li><b>Online:</b> Set the URL value to point to a network accessible online resource and set the URL Type to URL.</li>
            <li><b>Upload file:</b> Tap or click the the Upload File icon in the Document Data field and select a file to upload from local storage using the document browser.</li>
            <li><b>Take photo:</b> If you are using a laptop or mobile device, you can tap or click the Take Photo icon to access the device's camera to take a picture.</li>
        </ul>
    </li>
    <li>Tap or click Done (check mark on smaller screens). Alternatively, tap or click Cancel (x icon on smaller screens) to close the dialog without saving the attachment.</li>
    <li>{{ site.data.ds.product-name }} returns to the Attachments related view. If you uploaded a file or took a photo, the Document Data field now has a preview icon. Tap or click the icon to view the file. If you created an online reference, the URL field becomes an active link that navigates a new browser tab to the referenced URL.</li>
</ol>
