---
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE map PUBLIC "-//OASIS//DTD DITA Map//EN" "map.dtd">

<map>

  <title>{{page.title}}</title>
  <topicmeta>
    <copyright>
      <copyryear year="{{ 'now' | date: '%Y' }}"/>
      <copyrholder>{{site.data.project.company-name}}</copyrholder>
    </copyright>
    <critdates>
      <revised modified="" golive="{{ 'now' | date_to_string: 'ordinal', 'US' }}"/>
    </critdates>
    <prodinfo>
      <prodname>{{ site.data.project.product-name }}</prodname>
      <vrmlist>
        <vrm version="{{ site.data.project.current-version }}"/>
      </vrmlist>
    </prodinfo>
    <data name="address" value="{{ site.data.project.address }}" />
    <data name="city" value="{{ site.data.project.city }}" />
    <data name="state" value="{{ site.data.project.state }}" />
    <data name="zip" value="{{ site.data.project.zip }}" />
    <data name="phone" value="{{ site.data.project.phone }}" />
    <data name="tollfree" value="{{ site.data.project.toll-free }}" />
    <data name="website" value="{{ site.data.project.website }}" />
    <data name="docs" value="{{ site.data.project.docs-url }}" />
    <data name="support" value="{{ site.data.project.support-email }}" />
  </topicmeta>
  {% if page.filter %}
    <ditavalref href="filters/{{ page.filter }}.html"/>
  {% endif %}
  {%- capture ver -%}
    {{ page.coll }}
  {%- endcapture -%}
  {%- capture verpath -%}
    {%- if ver != "functions" -%}
      {{ ver }}/
    {%- endif -%}
  {%- endcapture -%}
      
  {% for topic in page.topics %}
  <topicref href="{{ verpath }}{{ topic.topic.href }}" navtitle="{{ topic.topic.title }}" format="hdita">
    {%- if topic.topic.subtopics[0] -%}
	  {% for sub in topic.topic.subtopics %}
	    <topicref href="{{ verpath }}{{ sub.topic.href }}" navtitle="{{sub.topic.title}}" format="hdita">
		   {%- if sub.topic.subtwotopics[0] -%}
		      {% for subtwo in sub.topic.subtwotopics %}
			     <topicref href="{{ verpath }}{{ subtwo.topic.href}}" navtitle="{{ subtwo.topic.title }}" format="hdita" />
			    {% endfor %}
		   {%- endif -%}
		   </topicref>
	  {% endfor %}
	{%- endif -%}
  </topicref>
  {% endfor %}
</map>