// DS Variables
//
// Some variables override Bootstrap defaults.

$gray-100: #f6f6f6 !default;

$primary:			#2B487F;
$primary-text:      #9FCB3B;
$secondary: 		#829BCB;
$secondary-text:    #CB951C;
$tertiary: 	    	#dce3a4;
$tertiary-text:     #fff;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$enable-rounded: false !default;

$link-color: $blue !default;