#navbarSupportedContent {
    a {
        color: $primary;
    }
    .active a {
        background-color: $primary;
        color: $white;
    }
}
#prjleftnav, #prjrightnav, #function-menu-wrapper {
    @include relative_font_size(.90);
    padding-top: map-get($map: $spacers, $key: 4);
    h1 {
        @include relative_font_size(1.1);
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        ul {
            padding-left: map-get($spacers, 2);
        }
        
        a.nolink {
            color: $gray-400;
            text-decoration: none;
            cursor: default;
        }
        
    }
    a {
        color: $gray-800;
    }
    
}
#prjleftnav {
    h1 {
        margin: 0 0 .5rem 0;
    }
    li {
        i {
            min-width: 20px;
        }

        i[class^="far"]{
            color: $gray-600;
        }

        i[class^="fas"], i.fa-file-import {
            color: $primary;
        }
    }
    li.prjactiveleft {
        a {
            text-decoration: none;
            cursor: default;
        }
    }
    li.dropdown-divider {
        border-color: $gray-500;
    }
    a {
        padding-left: map-get($spacers, 1)
    }
    a.collapseheading {
        text-decoration: none;
    }


}

#prjrightnav {
    a.nav-link {
        padding: 0 0 0 map-get($spacers, 2);
        border-left: 3px solid $gray-100;
    }
    li.level-1 {
        a.nav-link {
            font-weight: bold;
        }
        .active {
            border-color: $primary;
        }
    }
    li.level-2 {
        a.nav-link {
            padding-left: $spacer;
        }
        a.active {
            border-color: $primary;
        }
    }
    li.level-3 {
        a.nav-link {
            padding-left: 2 * $spacer;
        }
        a.active {
            border-color: $secondary;
        }
    }
}

#function-menu-wrapper {
    .tt-suggestion {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    li.functionli {
        margin-left: $spacer;
    }
    i.far {
        cursor: pointer;
    }
    input {
        padding-left: map-get($spacers, 1);
    }
}

// Styles for child trees created with _data > utils.yml
.prjchildtree ul {
    list-style: none;
    padding-left: 0;
    display: table;
    li{
        display: table-row;
        a{
            color: $gray-800;
            display: table-cell;
            padding: map-get($spacers, 1);
            background: $gray-200;
            border-bottom: 1px solid $white;
            min-width: 17rem;

            &:hover{
                background: $gray-400;
                text-decoration: none;
                border-color: $primary;
            }
        }
    }
}